@model OrderListViewModel

@{
    ViewData["Title"] = "Order list";
}

<h2>Zoznam objednávok</h2>

<form asp-controller="Order" asp-action="Index" method="get">
    <p>

        <select name="ordState" asp-for="SelectedState" asp-items="@Html.GetEnumSelectList<OrderState>()">
            <option value="">All</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>

<div class="order-list">
    @foreach (var order in Model.Orders)
    {
        <div class="container order">
            <div class="row">
                <div class="col order-info">
                    <h5>@Html.DisplayFor(x => order.ClassIdentifier)</h5>
                </div>
                <div class="col order-state">
                    <span class="badge rounded-pill bg-primary">@Html.DisplayFor(x => order.OrderState)</span>
                </div>
                <div class="row">
                    <div class="col">@Html.DisplayFor(x => order.OrderedBy)</div>
                    <div class="col">@Html.DisplayFor(x => order.OrderedAt)</div>
                    <div class="col dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu@(order.GetHashCode())" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu@(order.GetHashCode())">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row book-order-list">
                @foreach (var bookOrder in order.BookOrders)
                {
                    <div class="container book-order">
                        <div class="row">
                            <div class="col">
                                <p>
                                    @Html.DisplayFor(x => bookOrder.Book.Title)
                                    <span>@Html.DisplayFor(x => bookOrder.Book.Author)</span>
                                <p/>
                                
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => bookOrder.Quantity)                               
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
