@model SkladUcebnic.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Detaily</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Názov
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            Čislo skladovej karty
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageNumber)
        </dd>
        <dt class = "col-sm-2">
            Cena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Uprav</a> |
    <a asp-action="Index">Naspäť na zoznam</a>
</div>
