@model SkladUcebnic.Models.Book

@{
    ViewData["Title"] = "Delete";
}
@section links{
   <link rel="stylesheet" href="~/css/Books-Details-Base.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/css/Books-Delete-Base.css" asp-append-version="true" />
   
}
<h1>Ste si istý že chcete odstrániť túto knihu zo zoznamu?</h1>
<div>
    <hr />
    <table class="table">
         <tr>
             <td>
                  Názov
             </td>
             <td>
                 @Html.DisplayFor(model => model.Title)
             </td>
         </tr>
         <tr>
             <td>
                  Autor
             </td>
             <td>
                 @Html.DisplayFor(model => model.Author)
             </td>
         </tr>
         <tr>
             <td>
                  @Html.DisplayNameFor(model => model.ISBN)
             </td>
             <td>
                @Html.DisplayFor(model => model.ISBN)
             </td>
         </tr>
         <tr>
             <td>
                  Čislo skladovej karty
             </td>
             <td>
                @Html.DisplayFor(model => model.StorageNumber)
             </td>
         </tr>
         <tr>
             <td>
                  Cena
             </td>
             <td>
                 @Html.DisplayFor(model => model.Price)€
             </td>
         </tr>
         <tr>
             <td>
                  Počet kníh
             </td>
             <td>
                732
             </td>
         </tr>
         <tr>
             <td>
                  Na sklade
             </td>
             <td>
                 666
             </td>
         </tr>
         <tr>
             <td>
                  Vypočižané
             </td>
             <td>
                 66
             </td>
         </tr>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Odstráň" class="btn btn-danger" /> 
        <a class="button" asp-action="Index">Naspäť na zoznam</a>
    </form>
</div>
