@model SkladUcebnic.Models.Book

@{
    ViewData["Title"] = "Delete";
}


<h3>Ste si istý že chcete odstrániť túto knihu zo zoznamu?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Názov
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            Čislo skladovej karty
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageNumber)
        </dd>
        <dt class = "col-sm-2">
            Cena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Odstráň" class="btn btn-danger" /> |
        <a asp-action="Index">Naspäť na zoznam</a>
    </form>
</div>
