@model SkladUcebnic.Models.Book

@{
    ViewData["Title"] = "Details";
}
@section links{
   <link rel="stylesheet" href="~/css/Books-Details-Base.css" asp-append-version="true" />
}
<h1>Detaily</h1>
<div class="grid_container">
<div>
    <hr />
    <table class="table">
         <tr>
             <td>
                  Názov
             </td>
             <td>
                 @Html.DisplayFor(model => model.Title)
             </td>
         </tr>
         <tr>
             <td>
                  Autor
             </td>
             <td>
                 @Html.DisplayFor(model => model.Author)
             </td>
         </tr>
         <tr>
             <td>
                  @Html.DisplayNameFor(model => model.ISBN)
             </td>
             <td>
                @Html.DisplayFor(model => model.ISBN)
             </td>
         </tr>
         <tr>
             <td>
                  Čislo skladovej karty
             </td>
             <td>
                @Html.DisplayFor(model => model.StorageNumber)
             </td>
         </tr>
         <tr>
             <td>
                  Cena
             </td>
             <td>
                 @Html.DisplayFor(model => model.Price)€
             </td>
         </tr>
         <tr>
             <td>
                  Počet kníh
             </td>
             <td>
                732
             </td>
         </tr>
         <tr>
             <td>
                  Na sklade
             </td>
             <td>
                 666
             </td>
         </tr>
         <tr>
             <td>
                  Vypožičané
             </td>
             <td>
                 66
             </td>
         </tr>
    </table>
<div class="buttons">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Uprav</a>
    <a class="btn-tbl" asp-action="Delete" asp-route-id="@Model?.Id">Odstráň</a> 
    <a asp-action="Index">Naspäť na zoznam</a>
</div>
</div>
<div class="flex_container">
  <a href="~/images/80-10-00762-5_f.jpg"><img src="~/images/80-10-00762-5_f.jpg" alt=""></a>
</div>
</div>
