@model IEnumerable<SkladUcebnic.Models.Book>

@{
    ViewData["Title"] = "Index";
}
@section links{
   <link rel="stylesheet" href="~/css/Books-Index-Base.css" asp-append-version="true" />
}
<div class="center">
<h1>Zoznam učebníc</h1>

<p>
    <a class="btn-not-tbl" asp-action="Create">Pridaj učebnicu</a>
</p>
<form asp-controller="Books" asp-action="Index">
    <p>
        Názov: <input type="text" name="SearchString" />
        <input type="submit" value="Vyhľadaj" />
    </p>
</form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Názov
            </th>
            <th>
                Autor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                Číslo skladovej karty
            </th>
            <th>
                Cena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="details" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)€
            </td>
            <td>
        
                <a class="btn-tbl" asp-action="Delete" asp-route-id="@item.Id">Odstráň</a>
            </td>
        </tr>
}
    </tbody>
</table>
